.navbar {
  width: 100%;
  background: #fff !important;
  padding: 2%;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.bdo-nav a {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  background: url(/images/prague-1119791_1280.jpg) no-repeat center center fixed;
  padding: 130px 0;
  background-size: cover;
}

.bdo-login-btn1 a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.bdo-login-permission {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6CFF19;
  border-radius: 4px;
  padding: 0.2%;
  border: 1px solid #730074;
  color: #fff;
}

.bdo-options {
  height: 100px;
}

.bdo-login-btn2 a {
  color: #730074;
  font-family: 'Montserrat', sans-serif;
}

.bdo-login-btn2 {
  margin-left: 5px;
  background: transparent;
  border: 1px solid #730074;
}

.bdo-login-btn1 {
  background-color: #730074;
  border: #730074;
}

.bdo-login-btn1:hover {
  background: transparent;
  border: 1px solid #730074;
}

.bdo-login-btn1 a:hover {
  color: #730074;
  text-decoration: none;
}

.bdo-login-btn2:hover {
  background-color: #730074;
}

.bdo-login-btn2 a:hover {
  color: #fff;
  text-decoration: none;
}

.form {
  background: #fff;
  opacity: 0.9;
  padding: 40px 30px 40px 30px;
  margin-top: 7%;
  width: 50%;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bdo-banner {
  font-family: 'Permanent Marker', cursive;
}

.bdo-banner h1 {
  font-size: 1.3em;
}

.bdo-banner span {
  color: #6CFF19;
  font-size: 1.8em;
}

.steps .bdo-banner h2 {
  color: #6CFF19;
  font-size: 3em;
}

#datepicker {
  width: 190px;
}

.bdo-btn {
  background-color: #6CFF19;
  width: 100px;
  margin-left: 20px;
  margin-top: 22%;
  opacity: 2;
}

.bdo-btn:hover {
  background-color: #730074;
}

.bdo-btn-reg {
  background-color: #6CFF19;
  width: 40%;
  height: 60px;
  padding-top: 18px;
  opacity: 2;
}

.bdo-btn-reg:hover {
  background-color: #730074;
}

.bdo-card-text a {
  font-family: 'Montserrat', sans-serif;
  color: #730074;
}

.bdo-btn-listing {
  background-color: #6CFF19;
}

.bdo-btn-listing:hover {
  background-color: #730074;
}

.search-activity #btn {
  border-radius: 10px;
  border: 1px solid #6CFF19;
  padding: 10px;
  background-color: #730074;
  color: #fff;
}

.search-activity #btn:hover {
  background-color: #6CFF19;
}

.bdo-next {
  background-color: #6CFF19;
  width: 150px;
  float: right;
}

.bdo-learn {
  background-color: #6CFF19;
  width: 150px;
  text-transform: uppercase;
}

.bdo-learn:hover {
  background-color: #730074;
}

.steps .fa {
  font-size: 1.6em;
  color: #730074;
}

.incentive {
  background-color: #202020;
  color: #fff;
}

.copyright {
  background-color: #202020;
  color: #fff;
}

.bdo-why {
  margin: 40% 0 40% 0;
  font-family: 'Montserrat', sans-serif;
}

.bdo-why span {
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;
  color: #6CFF19;
}

.footer-links a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  color: #730074;
}

.listing-heading {
  font-family: 'Permanent Marker', cursive;
}

.wrap {
  position: relative;
}

.wrap:hover .image-overlay {
  opacity: .8;
  display: block;
}

.wrap.click_overlay .image-overlay {
  opacity: .8;
  display: block;
}

.image-overlay {
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #730074;
}

#remove_activity p {
  z-index: 2;
  padding-top: 100px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.removed p {
  color: #fff;
}

.form-register {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: relative;
}

.login-links {
  position: absolute;
  top: 0px;
  right: 5%;
}

.links a {
  color: #730074;
  font-size: 0.9em;
}

.dashboard {
  background-color: #202020;
  color: #fff;
}

.userInfo {
  background-color: #de1771;
  color: #fff;
  padding: 6%;
}

.ActivityInfo {
  background-color: #4e8ef7;
  color: #fff;
  padding: 6%;
}

.Messages {
  background-color: #ffba00;
  color: #fff;
  padding: 6%;
}

.bdo-dash-nav {
  background-color: #68b828;
  color: #fff;
}

.bdo-dash-nav a {
  color: #fff;
  border: 1px solid #fff;
}

/** comments form *****************************************/

.form-controller {
  width: 100%;
  border-radius: 2px;
}

#email,
#full_name {
  height: 35px;
}

#bdo-login-form {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
}

#add-new {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
  font-family: 'Montserrat', sans-serif;
}

.bdo-new-activity {
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
  font-family: 'Montserrat', sans-serif;
}

#bdo-register-form {
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
}

/** howitworks *****************************************/

.bdo-login-heading {
  font-family: 'Montserrat', sans-serif;
  margin-left: 3%;
  margin-bottom: 2%;
  font-size: 2em;
}

.bdo-how-head h2 {
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  text-align: center;
}

.howitworks {
  background: url(/images/prague-2093627_1920.jpg) no-repeat center center fixed;
  padding: 130px 0;
  background-size: cover;
}

.fun-people {
  background: url(/images/people-821624_1920.jpg) no-repeat center center;
  padding: 230px 0;
  background-size: cover;
}

.how-banner {
  background-color: #730074;
  height: 200px;
  color: #fff;
}

.process-desc .fa {
  font-size: 3.6em;
  color: #730074;
}

.process-desc h3 {
  font-family: 'Montserrat', sans-serif;
}

.process-desc {
  padding: 5%;
}

.bdo-process {
  font-family: 'Permanent Marker', cursive;
}

.bdo-process h4 {
  color: #68b828;
  font-family: 'Montserrat', sans-serif;
}

.bdo-jumbo {
  background-color: #730074;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
}

.bdo-nav-faq {
  font-family: 'Montserrat', sans-serif;
}

.bdo-accord {
  font-family: 'Montserrat', sans-serif;
  color: #730074;
}

.bdo-contact-form {
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
}

.bdo-login-reg {
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
}

.bdo-send {
  color: #fff;
  background-color: #68b828;
}

.bdo-send:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #6CFF19;
}

.bdo-faq-headings a {
  color: #68b828;
}

.links .fa {
  font-size: 2.2em;
}

.verticalLine {
  border-left: thin solid #68b828;
}

.bdo-tag {
  background-color: #730074;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

.bdo-sell {
  margin-top: 5%;
  margin-bottom: 5%;
  text-transform: uppercase;
}

.bdo-sell h4 {
  font-size: 4em;
}

.sell-heading {
  margin-left: 20%;
  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
}

.sell-heading2 {
  margin-left: 20%;
  color: #68b828;
}

.bdo-tag2 {
  background: url(/images/city-1940691_1920.jpg) no-repeat center center fixed;
  padding: 130px 0;
  background-size: cover;
}

#datepicker {
  height: 38px;
  border-radius: 2px;
}

/*************************************************************************************/

@media (max-width: 34em) {
  .form {
    padding: 10px 10px 10px 10px;
    width: 95%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bdo-banner h1 {
    font-size: 1.0em;
  }

  .bdo-btn {
    width: 75%;
    margin-left: 0;
    margin-top: 2%;
    opacity: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bdo-group {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .steps .bdo-banner h2 {
    color: #6CFF19;
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.1em;
  }

  .bdo-why {
    margin: 5% 0 5% 0;
    font-family: 'Gloria Hallelujah', cursive;
  }

  #bdo-login-form {
    width: 90%;
  }

  #bdo-register-form {
    width: 90%;
  }

  .bdo-login-btn2 {
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bdo-login-btn1 {
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .navbar-light .navbar-nav .nav-link {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #exampleFormControlSelect1 {
    width: 185px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #datepicker {
    width: 185px;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bdo-sell h4 {
    font-size: 2em;
    padding-top: 4%;
  }

  .sell-heading {
    margin-left: 10%;
  }

  .sell-heading2 {
    margin-left: 10%;
  }
}

@media screen and (max-width: 768px) and (min-width: 545px) {
  .form {
    height: 500px;
  }

  #exampleFormControlSelect1 {
    width: 185px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .form {
    width: 80%;
  }

  .bdo-btn {
    margin-top: 21%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .bdo-btn {
    margin-top: 16%;
  }
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\F005';
  color: #FD4;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\F006';
  font-family: FontAwesome;
}

/* Payment form */

#payment-content {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #730074;
  color: #fff;
  padding: 2%;
  border-radius: 3%;
  font-family: Overpass;
}

#buynow {
  background-color: #6CFF19;
  width: 50%;
  opacity: 2;
}

.buynow:hover {
  background-color: #730074;
}

