.navbar {
  width: 100%;
  background: #fff !important;
  padding: 2%;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.showcase {
  background: url(/images/prague-1119791_1280.jpg) no-repeat center center fixed;
  padding: 130px 0;
  background-size: cover;
}

.showcase .container {
  background: #fff;
  opacity: 0.8;
  padding: 40px 30px 40px 30px;
  margin-top: 7%;
  width: 50%;
  height: 250px;
}

.bdo-btn {
  background-color: #6CFF19;
  width: 150px;
  margin-top: 16%;
}

.bdo-next {
  background-color: #6CFF19;
  width: 150px;
  float: right;
}

#datepicker {
  margin-top: 16%;
}

